<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>

    <target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${level}|${message}" />

    <target xsi:type="File"
            name="db-file"
            encoding="utf-8"
            fileName="${basedir}/logs/db/${shortdate}.txt"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/archive.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="2" />

    <target xsi:type="File"
           name="app-file"
           encoding="utf-8"
           fileName="${basedir}/logs/app/${shortdate}.txt"
           layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
           archiveFileName="${basedir}/logs/archives/archive.{#}.txt"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           maxArchiveFiles="2" />

  </targets>


  <rules>

    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" final="true" writeTo="db-file" />
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" final="true" writeTo="console" />

    <logger name="*" minlevel="Info" writeTo="app-file" />
    <logger name="*" minlevel="Info" writeTo="console" />

  </rules>

</nlog>